.b-header {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 40px;
  background-image: url("./../../assets/img/header.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
